<ion-header>

  <ion-navbar>
    <ion-title>preview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{track.trackName}}</h2>
  <audio [src]="track.previewUrl" *ngIf="track.kind === 'song'" autoplay="autoplay" controls="controls">Browser doesn`t support</audio>
  <video [src]="track.previewUrl" *ngIf="track.kind === 'feature-movie'" autoplay="autoplay" controls="controls">Browser doesn`t support</video>
  <button ion-button (click)="close()">Close preview</button>
</ion-content>